.home__container{
    margin-top:4rem;
}
a{
  text-decoration:none;
}
.tbtn{
 margin-bottom:100px;
  left: 50%;
  position: absolute;
  width: 150px;
  background: #630a3e;
  border-radius: 30px;
  transition: 0.5s;
  align-items:center;
  color:whitesmoke;
}
.home__container p{
   color:#402432;
   font-size:25px;
   margin-left:25px;
}
.home__container h1{
   color:#45059e;
   font-size:25px;
}
.contact p{
  color:#402432;
   font-size:20px;
}
.contact h1{
  color:#45059e;
   font-size:20px;
}
