{%extends "IAA_d/base.html"%}
{%block content%}
<div class="profile__container">
        <img style="border-radius: 50%; margin-left:25%; margin-top:10%" src="{{ im.img.url }}" width="200" height="200" >
         <h1 style="margin-left:50px;">USERNAME: </h1>
         <p style="margin-left:70px;">{{user.username}}</p>
    <h1 style="margin-left:50px;">NAME: </h1>
         <p style="margin-left:70px;">{{user.first_name}}{{user.last_name}}</p>
    <h1 style="margin-left:50px;">EMAIL: </h1>
           <p style="margin-left:70px;"> {{user.email}} </p>
    <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token%}
        <input type="hidden"  name="username" value="{{user.username}}">
        <h1 style="margin-left:50px;">Upload Image: </h1>
        <input type="file"  name="img_profile" class="profile_img" accept="image/*">
        <input type="submit" value="upload" style="margin-left:100px;margin-top:15px; margin-bottom:60px" >
    </form>
</div>
{% endblock %}