{% extends "IAA_d/base.html"%}
{%block content%}
<div class="container__Activity">
  <h2 class="text-center">Activity Of Your Stocks</h2><br>
  <table>
      <tr>
        <th>Name</th>
        <th>Ticker</th>
          <th>Description</th>
        <th>DateTime</th>
      </tr>
    {% if data %}
    {% for d in data %}
    <tr>
      <td>{{d.name}}</td>
      <td>{{d.ticker}}</td>
      <td>{{d.desc}}-{{d.quantity}}</td>
      <td>{{d.dtime}}</td>
    </tr>
  {% endfor %}
      {%endif%}
  </table>
</div>
{% endblock %}