{% extends "IAA_d/base.html"%}
{% block content%}
    <div class="home__container">
        <h1>Invest Anywhere Anytime</h1>
        <p>
             Powered by millions of dreams, hopes and aspirations, India today is brimming with potential. At IAA, we are driven by this ambition that makes India charge ahead and take a more prominent place on the global stage.

            We aim to catalyze India's growth story by creating investment opportunities, enabling access and empowering our stakeholders. We work harder, smarter and faster to deliver impact across the investment ecosystem. In a world that changes shape by the second, we constantly reinvent ourselves to redefine the future.

            Our ambition gives us direction. It pivots, and propels us. It is the leap we take from today, towards a brighter tomorrow.
        </p>
        <a href="{%url 'trade' %}"><button type="button" class="tbtn" >Go To Trade</button></a>
        <p style="margin-top:50px;">
            IAA was incorporated in 2021. It was recognised as a stock exchange by SEBI in April 1993 and commenced operations in 1994 with the launch of the wholesale debt market, followed shortly after by the launch of the cash market segment.

Between 1994 and 2021, we expanded our lines of business and product offerings through key milestones:

We have also grown our business beyond traditional listing and trading services:
        </p>

    </div>
  <div class="contact">
      <h1>Contact</h1>
      <p style="margin-top:10px; margin-left:10px;">
          Invest Anywhere Anytime Ltd.,<br>
            Exchange Plaza, C-1, Block G,<br>
            Bandra Kurla Complex,<br>
            Bandra (E)<br>
            Andhrapradesh – 521 051<br>

            Tel. No: 022  2659 8100/ 2659 8114 / 66418100<br>
            Fax No: 022 2659 8120
      </p>
  </div>
{% endblock %}